body {
    background-image: linear-gradient(blue, #ADD8E6);
}
.sprite-character {
    width: 512px;
    height: 512px;
    background-image: url(..\public\sprites\snow-sprite1.png);
    background-repeat: no-repeat;
    animation: play 2s steps(10) infinite;

}

@keyframes play {
    0% { background-position: 0 0; }
    100% { background-position: -1536px 0; }
}